.text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_container h2 {
  padding-right: 2rem;
  font-size: clamp(2rem, 1.333rem + 2.96vw, 4rem);
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.text_container button {
  padding: 8px 16px;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: center;
  font-size: 16px;
  line-height: 126%;
  border-radius: 6px;
  border: 1px solid #ddd;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.text_container button:active {
  transform: scale(0.95);
}

.text_container button:hover {
  color: #0b710b;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.sale_container {
  display: flex;
  flex-direction: column;

  margin-bottom: 80px;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .sale_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
